.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.form__fieldset {
}

.form__label {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  width: 100%;
  height: 60px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  width: 100%;
  max-width: 385px;
  height: 60px;
  border-radius: 4px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
}
