.nav {
  display: flex;
  justify-content: flex-end;
}

.nav__logo {
  height: 39px;
  width: 105px;
  margin: 30px auto 0 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 30px 30px 0 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
