.recipes {
  height: auto;
  min-height: 760px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_recipes.svg");
  background-color: #0a2750;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-bottom: 215px;
}

.recipes__title {
  max-width: 580px;
  padding: 100px 0 0 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  padding: 24px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  column-gap: 40px;
  justify-content: center;
  padding-top: 80px;
}

.recipes__video-item {
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
  outline: none;
}

.recipes__video-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
