.reservation {
  height: auto;
  min-height: 720px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_reservation.svg");
  background-color: #d9e7ff;
  background-size: cover;
  background-position: center;
  padding-bottom: 120px;
}

.reservation__title {
  text-align: center;
  margin: 0 auto 80px auto;
  padding-top: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  max-width: 385px;
}
