* {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav__logo {
  height: 39px;
  width: 105px;
  margin: 30px auto 0 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 30px 30px 0 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  max-width: 709px;
  margin: 183px 0 0 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -1px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
  letter-spacing: normal;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__background {
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin: auto 80px 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  height: auto;
  min-height: 760px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_recipes.svg");
  background-color: #0a2750;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-bottom: 215px;
}

.recipes__title {
  max-width: 580px;
  padding: 100px 0 0 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  padding: 24px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  column-gap: 40px;
  justify-content: center;
  padding-top: 80px;
}

.recipes__video-item {
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
  outline: none;
}

.recipes__video-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.reservation {
  height: auto;
  min-height: 720px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_reservation.svg");
  background-color: #d9e7ff;
  background-size: cover;
  background-position: center;
  padding-bottom: 120px;
}

.reservation__title {
  text-align: center;
  padding: 100px 0 80px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  max-width: 385px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.form__fieldset {
}

.form__label {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  width: 100%;
  height: 60px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  width: 100%;
  max-width: 385px;
  height: 60px;
  border-radius: 4px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
}

.footer {
}
