.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 30px 80px 0 30px;
}

.nav__logo {
  height: 39px;
  width: 105px;
  margin-right: auto;
}

.nav__links {
  margin: 8px 0 0;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__title {
  position: absolute;
  top: 243px;
  left: 80px;
  margin-top: 128px;
  padding: 0;
  max-width: 635px;
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
}

.header__description {
  margin-top: 32px;
  max-width: 515px;
  font-size: 20px;
  line-height: 30px;
}

.header__background {
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__image {
  max-width: 636px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

.recipies {
  padding: 80px 0;
  text-align: center;
}

.recipies__title {
  margin: 0;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
}

.footer {
}
